<h3>Student Database Maintenance</h3>

<div  class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
<table class="table">
  
  <thead>
  <tr>
    <th>
      Admin ID
    </th>
    <th>
      User Name
    </th>
    <!-- <th>
        Last Name
      </th> -->
      <th>
          Password
        </th>

  </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let admin of admins" >
          <td>  {{admin.id}}  </td>
          <td> {{admin.username}}  </td>
          <!-- <td> {{admin.done}}  </td> -->
          <td> {{admin.password}}  </td>
          <td><button (click)="updateAdmin(admin.id)" class="btn btn-primary">Update Student</button>  </td>
          <td><button (click)="deleteAdmin(admin.id)" class="btn btn-danger">Delete Student</button>  </td>
        </tr>
  </tbody>
</table>
<div class="row">
    <button (click)="addAdmin()" class="btn btn-secondary">Add </button> 
</div>
</div>